{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "chrome": "69"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-dynamic-import-node"
  ]
}
