language: node_js
node_js:
  - "lts/*"
addons:
  sonarcloud:
    organization: "discipl" # the key of the org you chose at step #3
before_script:
  - git fetch --unshallow
script:
  - npm run lint
  - npm test
  - npm run docs; if [ ! -z "$(git status docs/ --porcelain)" ]; then echo "Documentation out of date"; exit 1; fi
  - npm audit
  # other script steps might be done before running the actual analysis

after_success:
  - npm run coverage
  - 'if [ ! -z "$SONAR_TOKEN" ]; then sonar-scanner; fi'
